body {
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    overflow-x: hidden;
    font-family: "Open Sans", sans-serif;


    main {
        background-color: #444444;
        text-align: center;

        h2 {
            color: black;
            text-align: center;
            font-weight: bold;
        }
    }
    

}    